

.side_bar_btn{
  transition: all .2s ease-in-out;
  background-color: #9DC08B;
}

.side_bar_btn:hover{
  background-color: #898121;
  color:white
}

.music_item{
  transition: all .2s ease-in-out;
}
.music_item:hover{
scale:1.1
}